<!DOCTYPE html>
<html>
  <head>
  <link rel="shortcut icon" href="../../../public/1616.ico">
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>{{ page.title }} - Posted By Tr3jer</title>
    <meta name="description" content="Hacking for fun. - Tr3jer_CongRong"/>
    <link rel="stylesheet" href="/css/Tr3jer.css" type="text/css" />
    <link rel="stylesheet" href="/css/syntax.css" type="text/css" />
  </head>
  <body>
    <div class="site">
      <div class="post-content">
        <div id="post">
          {{ content }}
        </div>
      </div>
      
      <div id="disqus_thread"></div>
      <script type="text/javascript">
      /* * * CONFIGURATION VARIABLES * * */
      var disqus_shortname = 'tr3jer';
      
      /* * * DON'T EDIT BELOW THIS LINE * * */
      (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
      })();
      </script>
      <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
      <div id="disqus_thread"></div>

      <!-- footer -->
      <div class="footer">
        <div class="contact">
          <p>
            <a href="/" style="text-decoration: none; margin-right: 5px;">Index</a> |&nbsp;
            <a href="/feed.xml" target="_blank" style="text-decoration: none; margin-right: 5px;">RSS</a> |&nbsp;
            <a href="http://weibo.com/Tr3jer" target="_blank" style="text-decoration: none; margin-right: 5px;">Weibo</a> |&nbsp;
            <a href="https://twitter.com/Tr3jer" target="_blank" style="text-decoration: none; margin-right: 5px;">Twitter</a> |&nbsp;
            <a href="/link" target="_blank" style="text-decoration: none; margin-right: 5px;">Links</a> |&nbsp;
            <a href="/mail.txt" target="_blank">Gmail</a>
          </p>
        </div>
      </div>
    </div>

    <div style="display: none;">
      <script src="http://s11.cnzz.com/z_stat.php?id=1256907244&web_id=1256907244" language="JavaScript"></script>
    </div>
  </body>
</html>
